@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    width: 100vw;
    height: 150px;
}

header > h1 {
    color: white;
    text-align: center;
    padding-top: 30px;
}

header > p {
    text-align: center;
    color: white;
    margin-top: 10px;
}

header > p > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header > p > a:hover {
    text-decoration: underline;
}
