@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background-color: darkgray;
}

header {
  background-color: black;
  height: 150px;
}

header > h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-variant: small-caps;
}

header > p {
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    background-size: cover;
    color: white;
}

section#img-joaninha {
  background: url(../imagens/background001.jpg)  no-repeat fixed;
  background-size: cover;
}

section#img-livro {
  background: url(../imagens/background002.jpg) no-repeat fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.486);
    width: 300px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}